# /roles/hardening/templates/iptables.rules.j2
*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Allow established and related connections
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# Allow loopback traffic
-A INPUT -i lo -j ACCEPT

# Allow SSH
-A INPUT -p tcp --dport {{ ssh_port }} -j ACCEPT

COMMIT
